<!doctype html>
<html lang="en" class="<%-title%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/dynatable/jquery.dynatable.css">
  <link rel="stylesheet" href="/vendor/dc/dc.css">
  <link rel="stylesheet" href="/css/style.css">

  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>

  <script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
  <script src="/vendor/dynatable/jquery.dynatable.js"></script>
  <script src="/vendor/underscore.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/d3/d3.min.js"></script>
  <script src="/vendor/crossfilter.min.js"></script>
  <script src="/vendor/dc/dc.min.js"></script>
  <script src="/vendor/jquery.webticker.js"></script>
  <script src="/js/mtgDynatable.js"></script>
  <script src="/js/portfolio.js"></script>

</head>

<body>

<div class="clearfix"></div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">MTG</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li<% if (title === 'Shop') { %> class="active"<% } %>><a href="/cards">Shop</a></li>
        <li<% if (title === 'Portfolio') { %> class="active"<% } %>><a href="/user">Portfolio</a></li>
        <li<% if (title === 'History') { %> class="active"<% } %>><a href="/history">History</a></li>
        <li<% if (title === 'Leaderboard') { %> class="active"<% } %>><a href="/leaders">Leaderboard</a></li>
        <li class="divider"></li>
      </ul>
      <% if ( typeof user != "undefined" ) { %>
      <ul class="user-info">
        <li><strong>Welcome <%-user.username%></strong></li>
        <li><strong>Your Balance:</strong> <%-money(user.balance)%></li>
        <li><strong>Your Net Worth:</strong> <%-money(user.balance + user.card_balance) %></li>
        <li><% include netWorthGraph %></li>
      </ul>
      <% } else { %>
        <form class="navbar-form navbar-right" role="search" action="/login" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User" name="username">
            <input type="text" class="form-control" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      <% } %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    <ul id='webTicker' style="display:none;">

      <% for(var i=0; i<tickerCards.length && i < 100; i++) {
        var tickerCard =  tickerCards[i];
        var gain = Number(tickerCard.percent_change);
        var arrowDir = "arrowpos", arrow = "&#9650";
        if(gain < 0) {
          arrowDir = "arrowneg";
          arrow = "&#9660";
        }
      %>
        <li>
          <span class='setsprite setsprite-10e' title='<%-tickerCard.set_name%>'>&nbsp;</span>&nbsp;
          <%-tickerCard.card_name%>
          <span class='<%-arrowDir%>'><%-arrow%></span>
          <%-tickerCard.cost_mid%>
          (<span class='<%-arrowDir%>'><%-gain%>%</span>)
        </li>
      <%}%>
   </ul>
</nav>
  <script type="application/javascript">
    $("#webTicker").show();
    $("#webTicker").webTicker();
  </script>
