<% page = "Leaderboard" %>
<% include header %>
<h1>Transaction History</h1>

<table id="history_table" class="table table-striped">
  <thead>
    <tr>
      <th>Set</th>
      <th>Card</th>
      <th>Transaction Time</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>

  <% for(var i=0; i<transactions.length; i++) {
    var transaction =  transactions[i];
  %>
    <tr
      <% if ( transaction.transaction_type === "buy"){ %> class="success" <% } %>
      <% if ( transaction.transaction_type === "sell"){ %> class="warning" <% } %>>
      <td><%-transaction.set_name%></td>
      <td><%-transaction.card_name%></td>
      <td><%-formatTime(transaction.create_datetime)%></td>
      <td><%-transaction.transaction_type%></td>
      <td><%-transaction.quantity%></td>
      <td><%- money(transaction.quantity * transaction.price) %></td>
    </tr>
  <%}%>
  </tbody>
</table>

<script type="application/javascript">
  $(function() {
    $('#history_table').dynatable({});
  });
</script>
<% include footer %>
