<% page = "Portfolio" %>
<% include header %>
<h1>Portfolio</h1>

<script type="text/javascript">
  var success = function(){
    window.location = '';
  };

  var error = function(){

  };
  $(function(){
    $('.sell-button').click(function(){
      portfolio.buy({user_id: 2, card_id: 42, quantity: 1}, success, error)
    })
  });
</script>

<% if (user.cards.length == 0) { %>

<div class="no-results">
  You currently have 0 items in your portfolio.
</div>

<% } else { %>
<p>Your current portfolio consists of the following cards.</p>

<ul class="row cards-list">
<% for(var i=0; i<user.cards.length; i++) {
  var card =  user.cards[i];%>

  <li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="http://i.tcgplayer.com/82245.jpg" alt="<%-card.cardname%>" class="thumbnail">
      <strong class="card-name"><%-card.cardname%></strong>
      <p><strong>You have <%-card.quantity%> card<% if (user.cards.lengths > 1) { %>s<% } %></strong><br />
      <% if (user.cards.lengths > 1) { %>Each<% } else { %>It<% } %> will sell for: <%=card.cost_mid%></p>

      <h4>Choose your quantity to sell</h4>
        <div class="pull-left box-quantity">
          <input class="form-control" type="number" data-fv-integer-message="The value is not an integer" data-fv-field="number">
        </div>
        <button type="submit" class="btn btn-primary sell-button" data-card-id="<%= card.card_id %>"  role="button">
          Sell
        </button>
  </li>

    <%  } %>

</ul>

  <% }  %>

<% include footer %>
