<% page = "Portfolio" %>
<% include header %>
<h1>Portfolio</h1>

<script type="text/javascript">
  var success = function(){
    window.location = '';
  };

  var error = function(){

  };
  $(function(){
    $('.sell-button').click(function(){
      $card = $('#'+$(this).data("id"));

      var userId = $card.data('userId');
      var cardId = $card.data('cardId');
      var quantity = $card.find('.box-quantity input').val();

      if(!isNaN(quantity) && parseInt(quantity) > 0) {
        portfolio.sell({user_id: userId, card_id: cardId, quantity: quantity}, success, error)
      }
    })
  });

  $(function(){
    $('.tag-button').click(function(){
      $card = $('#'+$(this).data("id"));

      var userId = $card.data('userId');
      var cardId = $card.data('cardId');
      var tagName = $card.find('.box-tag input').val();

      if(tagName !== '') {
        portfolio.createTag({user_id: userId, card_id: cardId, tag: tagName}, success, error)
      }
    })
  });
</script>

<% if (user.cards.length == 0) { %>

<div class="no-results">
  You currently have 0 items in your portfolio.
</div>

<% } else { %>
<p>Your current portfolio consists of the following cards.</p>

<ul class="row cards-list">
<% for(var i=0; i<user.cards.length; i++) {
  var card =  user.cards[i];%>

  <li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6" id="item-<%= card.cards_id %>-<%= user.user_id %>" data-card-id="<%= card.cards_id %>" data-user-id="<%= user.user_id %>">

    <form id="myform">
      <div class="card-div" style="position:relative; height: 285px">
        <img src="<%-card.image_url%>" alt="<%-card.card_name%>" class="thumbnail" style="position:absolute;">
        <% if (card.tags !== undefined) { %>
        <% for(var j=0; j<card.tags.length; j++) { %>
        <span style="padding: 2px; position:relative; z-index: 10; top: 30px;
            border-radius: 5px; background-color: aquamarine; cursor: pointer;"><%= card.tags[j] %></span>
        <% } %>
        <% } %>
      </div>

      <strong class="card-name"><%-card.card_name%></strong>
      <i class="card-set"> <%-card.set_name%> </i>
      <p>You have <%-card.quantity%> card<% if (card.quantity > 1) { %>s<% } %><br />
        Current Price: <%= money(card.cost_mid) %></p>

      <div>
        <div class="pull-left box-quantity">
          <input class="form-control" type="number" min="1" value="<%-card.quantity%>" max="<%-card.quantity%>">
        </div>
        <button type="submit" class="btn btn-primary sell-button" data-id="item-<%= card.cards_id %>-<%= user.user_id %>"  role="button">
          Sell
        </button>
      </div>
    </form>

    <form>
      <div>
        <div class="pull-left box-tag">
          <input class="form-control" type="text" value="">
        </div>
        <button type="submit" class="btn btn-primary tag-button" data-id="item-<%= card.cards_id %>-<%= user.user_id %>"  role="button">
          Tag
        </button>
      </div>
    </form>

  </li>

    <%  } %>

</ul>

  <% }  %>

<% include footer %>
